{
  "root": true,
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins" : ["react"],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "semi": 1,
    "no-console": 0
  } 
}